@model Hasse.Web.Models.AuthModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <p>AccessToken: @Model.AccessToken</p>
        <p>Id: @Model.Id</p>
        <p>Name: @Model.Name</p>
        <p>User: @Model.Username</p>
        <p>Email: @Model.Email</p>
    </body>
</html>