@model Hasse.Web.Models.User.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@if (!Model.Found) {
    <h2>Onbestaand</h2>
    <p>Die gebruiker kunnen we niet vinden!</p>
}
else {
    <p>@Model.Name</p>
    <p>Email: @(Model.Email ?? "(verborgen)")</p>
    <p>Website: @Model.Website</p>
    
    if (Model.Connections.Count > 0) {
        <p>Verbonden via externe sites:</p>
        <ul>
        @foreach (var connection in Model.Connections) {
            <li class="provider @connection.Id">@connection.Name</li>       
        }
        </ul>
    }
}